
@font-face {
  font-family: NotoColorEmojiLimited;
  unicode-range: U+1F1E6-1F1FF;
  src: url(https://raw.githack.com/googlefonts/noto-emoji/main/fonts/NotoColorEmoji.ttf);
}

.flag-emoji {
  font-family: 'NotoColorEmojiLimited', -apple-system, BlinkMacSystemFont, 
  'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 
  'Segoe UI Emoji', 'Segoe UI Symbol';
}

.no-outline {
  outline: none !important;
}
.no-outline:focus {
  outline: none !important;
}

.no-border-onfocus:focus {
  border: none !important;
}

.border-transparent {
  border-color: transparent !important;
}

.text-gray {
  color: gray;
}

.z-top {
  z-index: 100;
}

@media (max-width:576px) {
  .w-sm-40 {
    width: 40% !important;
  }
}

.info-card-container {
  width: 100%;
}
@media (min-width:768px) {
  .info-card-container {
    width: 100%;
  }
}

@media (min-width:992px) {
  .info-card-container {
    width: 80%;
  }
}

@media (min-width:1200px) {
  .info-card-container {
    width: 65%;
  }
}

@media (min-width:1400px) {
  .info-card-container {
    width: 50%;
  }
}

.border-disable {
  border-color: darkgray;
}
.text-disable {
  color: rgb(169, 169, 169);
}

.input-number-no-arrows::-webkit-outer-spin-button,
.input-number-no-arrows::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.input-number-no-arrows {
  -moz-appearance: textfield;
}

.fw-larger {
  font-size: 120% !important;
}
